/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* --Header-- */

/* Logo */

.logo-container {
    height: 100px;
    width: 100px;
}

.mha-logo {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin: 5px 0 0 5px;
}

/* Header Navbar */

#navbar {
    padding: 0 !important;
}

#navbar>div {
    height: 100px;
}

#navbar-items {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

.nav-item a {
    font-family: "Noto Serif", sans-serif;
    font-weight: 600;
    text-align: center;
    color: #5c3a9d;
    width: 100%;
}

.header-bg-colour {
    background-color: #5c3a9d !important;
}

/* Back to top button */

#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 15px;
    width: 30px;
    height: 30px;
    background-color: #e69c6a;
    color: #3a89d8;
    cursor: pointer;
    outline: none;
    border: 3px solid #3a89d8;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    z-index: 100000000;
}

#back-to-top-btn:hover,
#back-to-top-btn:focus {
    background-color: #3a89d8;
    color: #e69c6a;
}

/* Text meant only for screen readers */
.screen-reader-text {
    position: absolute;
    clip-path: inset(50%);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    word-wrap: normal !important;
    clip: rect(1px, 1px, 1px, 1px);

    &:focus {
        display: block;
        top: 5px;
        left: 5px;
        z-index: 100000;
        /* Above WP toolbar */
        clip-path: none;
        background-color: #eee;
        padding: 15px 23px 14px;
        width: auto;
        height: auto;
        text-decoration: none;
        line-height: normal;
        color: #444;
        font-size: 1em;
        clip: auto !important;
    }
}

/* Hero Section */

#hero {
    height: 600px;
    width: 100%;
    background: url('../images/dan-meyers-unsplash_compressed.webp') no-repeat center center/cover;
    position: sticky;
}

#cover-text {
    font-size: 130%;
    position: absolute;
    min-height: 200px;
    background-color: rgba(92, 58, 157, .7);
    bottom: 30px;
    width: 70%;
    padding-top: 40px;
    text-align: center;
}

#cover-text>h2 {
    color: #FFFFFF;
}

/* Issues and Tips section */

#issues-section {
    width: 100%;
    background-color: antiquewhite;
}

.issues-title {
    padding-top: 10px;
}

.issues-title h2 {
    color: #5c3a9d;
    text-align: center;
    font-family: "Noto Serif", sans-serif;
}

.card-title {
    text-align: center !important;
}

.card-text {
    text-align: left;
}

#circle-issues-bg {
    height: 100vw;
    width: 100vw;
    background: url('../images/luca-upper-Z-4kOr93RCI-unsplash.webp') no-repeat center center/cover;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#right-issues {
    margin-bottom: 10px
}

#left-issues>div,
#right-issues>div {
    margin-top: 10px;
}

#cards-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.issues-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 20rem;
}

/* Common issues and tips card colours */

.card-bg-1 {
    background-color: #3a89d8;
}

.card-bg-2 {
    background-color: #e69c6a;
}

.card-bg-3 {
    background-color: #FF7155;
}

.card-bg-4 {
    background-color: #5d3a9db8;
}

.card-body h5 {
    color: rgba(0, 0, 0, 0.688);
}

/* --Stress section-- */

.row {
    --bs-gutter-x: 0 !important;
}

.stress-section-colour {
    background-color: antiquewhite;
}

.stress-section h3 {
    color: #5c3a9d;
    text-align: center;
    font-family: "Noto Serif", sans-serif;
    padding-top: 10px;
}

.stress-items {
    margin-left: 30px
}

.history-heading {
    color: #5c3a9d;
    margin-bottom: 50px;
}

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #5c3a9d;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Noto Serif", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #5c3a9d;
}

.history-items {
    margin-bottom: 30px;
}

/* Speech bubble */

#bubble-position {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble-size {
    width: 250px;
    height: 150px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.speech-bubble {
    position: relative;
    border-radius: 1em;
}

.speech-bubble-1 {
    background: #78be6a;
}

.speech-bubble-2 {
    background: #FF7155;
}

.speech-bubble-3 {
    background: #ffc658;
}

.speech-bubble-4 {
    background: #e69c6a;
}

.speech-bubble-5 {
    background: antiquewhite;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-bottom: 0;
    margin-left: -12.5px;
    margin-bottom: -25px;
}

.speech-bubble-1:after {
    border-left: 0;
    border-top-color: antiquewhite;
}

.speech-bubble-2:after {
    border-right: 0;
    border-top-color: #FF7155;

}

.speech-bubble-3:after {
    border-left: 0;
    border-top-color: #ffc658;
}

.speech-bubble-4:after {
    border-right: 0;
    border-top-color: #e69c6a;
}

.speech-bubble-5:after {
    border-left: 0;
    border-top-color: #78be6a;
}

#quotes-section {
    height: 1064px;
    width: 100%;
    background: url('../images/deniz-altindas-t1XLQvDqt_4-unsplash.webp') no-repeat center center/cover;
    position: relative;

}

#quotes-align {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.quotes-section {
    height: 100%;
}

.quotes-section h4 {
    font-family: "Roboto", sans-serif;
    font-size: medium;
    text-align: center;
    padding-top: 20px;


}

/* Stress Section End */

/* Resource Section */

.resource-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.card-body {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.card-1 {
    background-color: #78be6a;
}

.card-2 {
    background-color: #FF7155;
}

.card-3 {
    background-color: #5c3a9d;
}

.menu-stress-colour {
    background-color: #3a89d8;
}

.card-4 {
    background-color: #e69c6a;
}

.card-5 {
    background-color: #3a89d8;
}

/* Footer */

footer {
    background-color: #525252;
    min-height: 100px;
    margin: 0;
    text-align: center;
    padding-top: 20px;
}


footer a {
    color: #FFFFFF;
    text-decoration: none !important;
}

/* Media Query 576px or larger */
@media screen and (min-width: 576px) {
    .menu-home-colour {
        background-color: #FF7155;
    }

    .menu-stress-colour {
        background-color: #3a89d8;
    }

    .menu-resources-colour {
        background-color: #e69c6a;
    }

    #navbar-items li {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

}

/* Media Query 768px or larger */
@media screen and (min-width: 768px) {

    #resources-main {
        padding-top: 20px;
    }

    #left-issues,
    #right-issues {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #left-issues>div,
    #right-issues>div {
        width: 75%;
    }

    #right-issues>div {
        text-align: end;
        align-self: flex-end;
    }

}

/* Media Query 880px or larger */
@media screen and (min-width: 880px) {
    .nav-item a {
        font-size: 150%;
    }
}

/* Media Query 1200px or larger (specifically for stress page) */
@media screen and (min-width: 1200px) {

    #issues-cards {
        display: flex;
        flex-direction: row;
    }

    #issues-cards>div {
        flex: 1;
    }

    #issues-image {
        order: 0;
    }

    #right-issues {
        order: 1;
    }

    #right-issues>div {
        align-self: flex-start;
    }

    #left-issues>div {
        align-self: flex-end;
    }

    #left-issues>div,
    #right-issues>div {
        width: 85%;
    }


    #issues-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-home {
        height: 650px;
    }
}