/* --------------------------- Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* --------------------------- Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 1000;
    
}

.header-top a {
    text-decoration: none;
    text-align: center;
}

.get-help {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


.logo h1 {
    color: #5c3a9d;
    background-color: #ffc658;
    border-radius: 25px;
    margin: 5px 5px;
    font-family: "Noto Serif", sans-serif;
}


.list-inline-item:not(:last-child) {
    margin: 0;
}

.menu-container {
    font-size: 0;
}

#menu-nav {
    padding: 0;
}

#menu {
    margin: 0;
    height: 116px;
}

#menu li {
    font-size: 14px;
}

.menu-item {
    height: 116px;
    text-align: center;
    padding: 0;
}

.menu-item a {
    width: 100%;
    text-decoration: none;
    height: 60px;
    color: #5c3a9d;
}

.menu-item a i {
    padding-top: 30px;
    display: block;
    color: #5c3a9d;
    font-size: 26px;
}

.menu-item span {
    font-family: "Noto Serif", sans-serif;
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

/* --------------------------- Main body */

main {
    margin-top: 100px;
}

/* --------------------------- Hero Section */

.hero-container {
    height: 100vh;

    background: url('../images/dan-meyers-hluOJZjLVXc-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

}

#hero {
    height: 600px;
    width: 100%;
    background: url('../images/dan-meyers-hluOJZjLVXc-unsplash.jpg') no-repeat center center/cover;
    position: relative;
}

#cover-text {
    font-size: 130%;
    position: absolute;
    min-height: 200px;
    background-color: rgba(92, 58, 157, .7);
    bottom: 30px;
    width: 70%;
    padding-top: 40px;
    text-align: center;
}

#cover-text > h2 {
    color: #FFFFFF;
}

/* --------------------------- Colours */

.header-bg-colour {
    background-color: antiquewhite;
}

.menu-home-colour {
    background-color: #FF7155;
}

.menu-stress-colour {
    background-color: #3a89d8;
}

.menu-resources-colour {
    background-color: #e69c6a;
}

/* --------------------------- Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #FAF9F6;
}

.inline-block {
    display: inline-block;
}



/* --------------------------- Buttons */

.btn-warning {
    background-color: #5c3a9d;
    color: #FAF9F6;
    width: 160px;
    height: 25px;
    padding: 0 12px;

}

#btn {
    border: none;
    color: #5c3a9d;
}

/* Moving button to right hand side */
.navbar>.container-fluid {
    justify-content: flex-end;
    margin-right: 10px;
}

/* --------------------------- Footer */

footer {
    background-color: #525252;
    min-height: 100px;
    margin: 0;
}